<% include partials/header.ejs %>
<div class="container">
    <% if (message) { %>
        <p class="text-center text-danger"><%= message %></p>
    <% } %>

    <% if (College) { %>
        <form class="edit-college-form" action="" method="post" enctype="multipart/form-data">
            <div class="form-row">
                <div class="form-group col-md-4">
                    <label for="collegeName">College Name</label>
                    <input type="text" class="form-control" name="collegeName" id="collegeName" value="<%= College.collegeName %>" required>
                </div>
                <div class="form-group col-md-4">
                    <label for="CoAbbreviation"> College Abbreviation </label>
                    <input type="text" class="form-control" name="CoAbbreviation" id="CoAbbreviation" value="<%= College.CoAbbreviation %>" required>
                </div>
            </div>
            </div>
            <button type="submit"  class="btn btn-success float-right" formmethod="POST">Update College</button>
        </form>
    <% } else { %>
        <p class="text-center">College Not Found. Go <a href="/add">here</a> to add College.</p>
    <% } %>
</div>
</div>
</body>
</html>